<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="socketAddress" value="127.0.0.1" />
        <add key="socketPort" value="8080" />
        <add key="grpcAddress" value="127.0.0.1" />
        <add key="grpcPort" value="8081" />
    </appSettings>
</configuration>